extends _layout
block var
  - metas = {}
  - metas.title = '予告'
  - page = 'top'
block append meta
  +meta(metas)
block append header
  +header(page)  
block main
    h1 予告
    h2.mt-3 最終回<small>/ 2019年12月8日開催</small>

    .info 
      p.h4.mt-4 「来たれ、英雄（レイヤード）よ！！」
      p.mt-4 戦略級ベクター〈アザトース〉がテンジン・シェルターの地に現れた2119年3月
      p それに対して、戦艦”大和”を駆り福岡の地を守る一人の男が号令を発した。
      p それを受け集まった数十名のレイヤードたち。
      p 238日・・・この時までに、彼らは多くの試練をくぐり抜け、決戦へと備えてきた。

      p.mt-4 地上を牛耳る異形の者たちを打ち倒した者たち・・・
      p 一人の童女に力を取り戻し、アザトースに匹敵しうる従者を呼び覚ました者たち・・・
      p シェルターに迫る陰謀を退け、内なる危機を退けた者たち・・・
      p 博多湾から迫り来る襲撃者を撃退した者たち・・・
      p アザトースの信奉者たるエンフォーサー：ナイアーラトテップと死闘を繰り広げた者たち・・・
      p 神へと対抗しうる決戦兵器を完成させた者たち・・・
      p テンジン・シェルターに眠る真実を解明し、フラグメントという希望を手にした者たち・・・
      p 彼らの活躍は絶望的と思われたアザトースとの戦いに、勝利の可能性をもたらした。

      p.mt-4 そして2119年12月8日。
      p アザトースはその真の姿を現し、世界を滅亡させんと迫り来る。

      p.mt-4 だが、恐れることはない。
      p 英雄たちが発見し、一人の少女が手にした希望、フラグメント〈古き印〉はその力を表し、人類生存の可能性は目の前にある。

      p.mt-4 今、すべての物語、すべての因縁、英雄たちの紡いだ道は一つに交わり
      p 神に挑む英雄（レイヤード）たちの物語はついに最高潮を迎える・・・

      p.mt-4 英雄武装RPGコード：レイヤード Countdown to Catastorophe
      p Last Mission「Final Countdown」
      p 時は満ちた。最後の決戦が幕を開ける。
      
      .mt-4
        .d-flex.justify-content-around
          .report
            a.btn(href="./report_1904.html") セッション報告書(第1回)
            a.btn(href="./report_1906.html") セッション報告書(第2回)
            a.btn(href="./report_1908.html") セッション報告書(第3回)
            a.btn(href="./report_1910.html") セッション報告書(第4回)