extends _layout
block var
  - metas = {}
  - metas.title = '予告'
  - page = 'top'
block append meta
  +meta(metas)
block append header
  +header(page)  
block main
    h1 予告
    h2.mt-3 第１回<small>/ 2019年4月14日開催</small>
    .info 
      p 時は2119年、所は旧福岡天神地下街。
      p.mt-4 超高度AIによる人類への反乱の爪痕が未だ残る中、人々はここを拠点とし、ひっそりと生き延びていた…。

      p しかし、つかの間の平穏は終わりを迎える。
      p 突如現れた黒い太陽、それは着実にこの地球へと近づいていた。
      p 落下予測地点はここ、福岡天神。
      p.mt-4 落下予測時間は2119年12月8日。

      p この破滅をもたらす災厄に人々は名を付けた。
      p “恐るべき宇宙の原罪　アザトース”
      p.mt-4 その黒き太陽が地に落ちるとき、地球は終わる…。

      p しかし、それを良しとしない英雄たちが、そこにはいた。
      p.mt-4 これは神に挑む英雄（レイヤード）たちの物語。

      p 英雄武装TRPG　コード：レイヤード
      p 「Countdown to Catastrophe」
      p.mt-4 人類に残されたタイムリミットは……あと238日

      p 2019年4月14日開催。
      p.mt-4 福岡を救うのはキミたちだ！