extends _layout
block var
  - metas = {}
  - metas.title = 'オリジナルアイテム'
  - page = 'items'
block append meta
  +meta(metas)
block append header
  +header(page)  
block main
    h1 オリジナルアイテム
    p オリジナルアイテムは天神コロニー限定のアイテムである。通常のアイテムと同様に購入することができる。

    h3 ホーヅキの手作り勾玉
    ul.npc-items
        li 種別：アクセサリ
        li 部位：アクセサリ
        li 価格：200
    .info
        p 装備者が〈天運〉か〈人運〉か〈生命運〉の判定時、ダイスボーナス1を得る。
        p 1シーンに1回使用可能。この効果を使用した場合、【HP】を1D失う。
        p ホーヅキがコツコツ作った手作りの勾玉。手作りだからこそ、作成者の思いが篭っている一品。
        p なお、白・青・赤・黄・黒の5種類のカラーバリエーションがある。
    
    h3 ホーヅキの手作り弁当
    ul.npc-items   
        li 種別：ツール
        li 部位：所持
        li 価格：50
    .info
        p ホーヅキが作った焼き魚弁当。味は普通に食べられる美味しさでまずまずの評価。ただし、何の魚を使っているかは企業秘密とのこと。
        p アサルト中は使用不可。使用PC1人の【HP】と【MP】を1D回復する。
        p このアイテムのHP回復量およびMP回復量は特技の効果で増加しない。
        p 消耗品。
    
    h3 桔梗印の八女提灯
    ul.npc-items
        li 種別：ツール
        li 部位：所持
        li 価格：60
    .info    
        p ヤメという町で作られていた紙を使用した淡い紫色の光を放つ手のひらサイズの提灯。カラビナがついているため、ベルトなどにも引っ掛けられる。わずかな光源としても有効。壊れると中に入っている桔梗の護符が一度の小さな奇跡をもたらす。
        p マイナーアクションかメジャーアクション、戦闘終了プロセスで使用可能。
        p 使用者の【HP】または【MP】を1D+1回復する。
        p このアイテムのHP回復量およびMP回復量は特技の効果で増加しない。
        p 消耗品。       
        