extends _layout
block var
  - metas = {}
  - metas.title = '人物'
  - page = 'npc'
block append meta
  +meta(metas)
block append header
  +header(page)  
block main
    h1 人物（NPC)
    h2.mt-3 テンジン・シェルター所属キャラクター
    h3 天神　月詩（あまがみ　つくし）
    ul.npc-items
        li 年齢：17　性別：女性
        li クラス：なし
        li コード：なし
        li 分野：居住区域、データベース
        li 所属・肩書：テンジン・シェルター自警団団長補佐
    p 「私には、皆さんのお手伝いぐらいしか出来ませんから、それを全力でやるだけです。」
    .info 
        p テンジン・シェルターで生まれ育った「シェルター・チルドレン」の一人。
        p 現在は有賀 武蔵の補佐兼自警団のバックアップを務めている。
        p 生真面目な性格で、職務に忠実。少し頑固者な一面があり、こうと言いだしたら聞かない所があるが、根はとても優しい少女であり、シェルター内の人気も高い。
        p 双子の妹の陽愛がレイヤードとして活動している傍ら、コードに適合できず何もできない自分を歯がゆく思っており、一人で思い悩むこともあるという。

    h3 天神　陽愛（あまがみ　ひめ）
    ul.npc-items
        li 年齢：17　性別：女性
        li クラス：チェッカー/ヴェール
        li コード：銀の鍵
        li 分野：危険区域、噂話
        li 所属・肩書：テンジン・シェルター自警団団員
    p 「ちょっ、それマジやばたにえん！！」
    .info
        p 月詩の双子の妹。コードに適合したことから自警団に加入し、第一線で周辺の探索を担っている。
        p コードである銀の鍵により「自らの足で訪れたことがある場所」ならばどこにでも一瞬で移動できる。という能力を持っており、これにより先行偵察、周辺調査などで大戦果を挙げている。反面、戦闘には不向き。
        p 姉と同じくシェルターで生まれ育った「シェルター・チルドレン」の一人。
        p 姉の事は大切に思っており、悩みなどを一人で抱え込むことの多い彼女を時折心配している。
        p 100年前の社会に関する資料で見た「女子高校」、「ギャル」という存在に憧れを抱き、見た目や言動もそれっぽくするようになった。

    h3 赤星　有里朱（あかほし　ありす）
    ul.npc-items
        li 年齢：24　性別：女性
        li クラス：ブレイカー/シャドウ
        li コード：那須与一
        li 分野：危険区域、行政
        li 所属・肩書：ムサシ・レギオン第17遠征隊 隊長
    p 「既にムサシ・レギオンへの連絡は済ませているわ。あとは、現場の貴方が指揮をとりなさい」
    .info
        p 元々はヘイヴンやシェルターの探索の為にムサシ・レギオンから派遣された遠征部隊の部隊長。
        p テンジン・シェルターを発見した際は一定期間の調査後、ムサシ・レギオンへ帰還する予定であったが、アザトース接近により天神が最前線基地と化した為、ムサシ・レギオンとの連絡員および現場指揮官補助として長期駐在している。
        p きつく聞こえる言動や目付きの鋭さから勘違いされる事が多いが、基本的には部下や同僚を信頼しサポート役に回るタイプである。

    h3 葉隠  源之助（はがくれ    げんのすけ）
    ul.npc-items
        li 年齢：17　　性別：男
        li クラス：マージ
        li コード：ピタゴラス
        li 分野：科学、ベクター
        li 所属・肩書：装備開発主任
    p 「この決戦兵器に人類、いやこの星の行く末がかかっている。必ず間に合わせてみせる。」
    .info
        p テンジンシェルター生まれの若き科学者。
        p 本人の資質に加えコード：ピタゴラスの能力により高速並行演算を行う事が出来る。
        p 生真面目で仲間を立てる性格をしており、レイヤード達の装備の製造や調整などを行なう。
        p 現在はアザトースに備え、決戦兵器を開発中である。

    h3 東雲　喜一（しののめ　きいち）
    ul.npc-items
        li 年齢：99　性別：男
        li クラス：チェッカー/センチネル
        li コード：ドン・キホーテ
        li 分野：歴史、裏社会
        li 所属・肩書：テンジン・シェルター自警団員、歴史の生き証人
    p 「何を聞きたいんじゃ？、ナイアーラトテップのこと？…あれは気が狂うほど美味しくて…なんの話じゃったかの？」
    .info
        p 御年99歳の老人にして文明崩壊を生き延びた歴史の生き証人。
        p 日頃は愛亀である「ドン・キ・ホーテ」に乗りテンジン・シェルターを徘徊しているボケ老人。
        p 貴重な知識を有しているはずだが現実と妄想の区別が付かないのか喋れば周りを困惑させている。
        p だが時には非常に重要な情報を教えてくれる時もある厄介なジジイである。
        p レイヤーとしては非常に優秀でありテンジン・シェルターでも有数の防御能力を持っている。
        p ナイアーラトテップなどについて何か知っている様子だが？…

    h3 シバイヌ司令　(しばいぬしれい)
    ul.npc-items
        li 年齢：3　　性別：オス
        li クラス：ブレイカー/インテレクト
        li コード：徳川綱吉
        li 分野 居住区域、動物
        li 所属：生活区域管理担当
    p 「シバイヌ式【ショールイアワレミノレー】なのです！」
        p テンジンシェルターに住んでいる柴犬。
        p レイヤードとなることで高度な知能を手に入れ、自警団への助太刀を申し出る。
        p 本当は将軍になりたかったらしいが自分はリーダーではないので司令になった。
        p コードの影響を色濃く受けているのか、決戦に備え一般人を守るために手を尽くそうとしている。
        p しかし犬であるが故に書類仕事は全ては紫乃が行っている。
        p 愛嬌のある姿でシェルターの人々とのコミュニケーションを円滑に行う一面もあるとか。

    h3 桔梗 紫乃(ききょう しの)
    ul.npc-items
        li 年齢：20代　性別：不明
        li クラス：サポーター/ヴェール
        li コード：安倍晴明
        li 分野：宇宙、神話
        li 所属：生活区域管理担当補佐
    p 「見捨てて歩みを進めるか、下がって手を差しのべるか…全ては貴方達の選択次第です」
    .info
        p シバイヌ司令の背後に控え、常に穏やかに微笑んでいる線の細いレイヤード。
        p 元々九州を転々としていたようだがテンジン・シェルターに落ち着き、シバイヌ司令の傍であらゆる雑用をこなしている。
        p 非常に博識で、特に過去の遺物である神話などに明るい。
        p 誰にでも丁寧に接し、人々のカウンセリングを行っているが、同時に一般人を守ることの限界も理解している現実主義者でもある。

    h3 まさる
    ul.npc-items
        li 年齢:13　性別:オス
        li クラス:サポーター/インテレクト
        li コード:諸葛亮
        li 分野:歴史、地理
        li 所属:テンジン･シェルター内学校教師
    p ｢ウッキッキ、我輩の計画は完璧である、ウッキャー｣
    .info
        p サングラスをかけ、スーツを着こなす日本猿のレイヤード。
        p コード、諸葛亮を持ち凄まじい記憶力と知識量で参謀として将来を期待された猿。
        p しかし、その作戦計画力は前例主義かつ柔軟性がなく、幾つかの作戦失敗によって参謀をクビになった。その後、知識量のみを買われ教職に着いた。
        p だが彼は諦めてはいない、自分の計画が完璧であることを証明し参謀に返り咲くことを。

    h3 佐々　次郎（ささ　じろう）
    ul.npc-items
        li 年齢：24　性別：男
        li クラス：ブレイカー/アーキテクト
        li コード：名も無き剣豪（佐々木小次郎と思われる青年）
        li 分野：裏社会、科学　
        li 所属、肩書：放浪者、ホーヅキの保護者
    p 「秘剣、燕返し。」
    .info
        p 青い羽織を着ている放浪者の青年で、たまたま寄ったテンジン・シェルターを今は宿に活動している。
        p 「恩には奉公で返す」の信条の元、手伝っていたら、今回の騒動に巻き込まれる。
        p 過去に瀕死の重傷を負った中でブリゲイドに捕まり、アーキテクトの手術を受け、その結果、レイヤードとなる。
        p コードは名も無き剣豪で、佐々木小次郎と思われる青年。つまり、本当に佐々木小次郎なのかは一切不明である。
        p しかし、実力は間違いなく一級品で、少なくともその性能は折り紙つき。

    h3 ホーヅキ
    ul.npc-items
        li 年齢：8（外見）　性別：女
        li クラス：不明
        li コード：不明
        li 分野：歴史、科学
        li 所属、肩書：謎の少女
        li 「ほむほむ。」
    .info
        p 黄色いコートを羽織った金髪に青い瞳の外見８〜１０歳ぐらいの少女
        p 次郎に連れられてテンジン・シェルターへやってきた。
        p 羊と猫のぬいぐるみをいつも持っている。
        p 喋り方も独特である。
        p その正体は不明。

    h2 アザトース陣営のキャラクター
    h3 ナイアーラトテップ
    ul.npc-items
        li 年齢：不明　性別：不明
        li クラス：エンフォーサー
        li コード：ナイアーラトテップ
        li 分野：裏社会、ベクター
        li 所属・肩書：アザトース傘下のエンフォーサー
    p 「せいぜい良い終末を。」
    .info
        p アザトースを起動し、テンジン・シェルターへと落下させたエンフォーサー。
        p 別の体（本人は「端末」と呼んでいる）に自分の意識を移すことができる。
        p それにより、誰も彼（彼女？）の真の姿を見たことがないため、性別、年齢共に不明。
        p 奸智に長け、様々な方法でテンジン・シェルターにアプローチし、破壊工作を仕掛けてくる。