extends _layout
block var
  - metas = {}
  - metas.title = 'レギュレーション'
  - page = 'regulation'
block append meta
  +meta(metas)
block append header
    +header(page)
block main
    h1 レギュレーション
    h2.mt-3 １．キャラクターメイキング
    p キャラクターメイキングに関する基本的なルールです。

    div.mb-4
        h3 使用ルールブック・サプリメント
        p キャラクター作成に使えるルールの範囲は以下の通りとします。
        ul
            li 基本ルールブック
            li 上級ルールブック
            li ベイグランツ・ロード（ただし、ワークス特技は使用不可とします。）
        p ※ エラッタは2017年11月1日更新までのものを採用します。エラッタは<a href="http://www.fear.co.jp/codelayerd/index.htm" target="fear">公式HP</a>をご覧ください
    div.mb-4 
        h3 キャラクター作成について
        .info
            p PCたちはテンジン・シェルターで活動するレイヤードとなります。
            p ジャーニーパスを使用した場合、旅の途中で立ち寄っているものとして処理してください。

        h4 初期作成方法
        p キャラクター作成は以下のルールに沿って作成します。
        ul
            li クイックスタート
            li コンストラクション
            li ビルドアップ
        .info
            p 作成時に相当品としてコードの名称・自動取得特技名を任意に変更することが可能です。その際、元データの名称はしっかり記入しておいてください。
            p 名称以外ののデータは変更できないものとし、ジェネレイトルールによるコードの作成も不可とします。
            p このページに掲載しているレギュレーションで新規作成されたキャラクターのみ使用可能とします。事前に作成したキャラクターを持ち込まれる場合、初期作成もしくは途中参加PCに該当する経験値分を使用したもののみ可能とします。

        h4 ライフパスについて
        p キャラクター作成は以下のルールに沿って作成します。
        ul
            li クイックスタート
            li コンストラクション
            li ビルドアップ
        .info
            p ライフパスは通常のルール通りに決めていただきます。その際、レイヤークラスによって決定内容が前後しますので適宜確認してください。
            p また、邂逅表はオリジナルの邂逅表を用意しておりますので、そちらを使用することもできます。（詳しくは３番を参照してください）

    h2 ２．成長ルールについて
    div.mb-4
        h3 継続PC
        p イベント定例会で継続でPCを使用する場合、それまでのイベント定例会やオープン定例会のGM等で獲得した経験点を使用してPCを成長させることが出来ます。
    div.mb-4
        h3 途中参加のPC
        .info
            p 第2回目以降から参加する場合、初期作成に加えて配布される経験点を使ってPCをあらかじめ成長させることが出来ます。
            p 追加配布される経験点はイベント定例会ごとに20点となります。
    div.mb-4
        h3 GMの経験点
        .info
            p 虎猫の穴のオープン定例会でGMを行った場合、追加の経験点を得ることが出来ます。
            p ここで得た経験点は通常の経験点と同様にキャラクターの成長で使用することが出来ます。
            p また、昨年度のGMで獲得したDX3rdの経験点チケットについてもコード：レイヤードの経験点として利用することが可能です。
            p 各卓でのGM経験点については、以下の通りです。
        ul 
            li オープン定例会、くろねこ亭 → 立候補:5点、卓成立:5点
            li 昨年度獲得したDX3rdのチケット → チケット2枚につき5点
    h2 ３．オリジナル邂逅表（1d10）
    p 本キャンペーンで使用できるオリジナルの邂逅表です。
    table.table.table-bordered 
        thead
            tr
                th 
                th 関係
                th 感情
                th コネクション
        tbody  
            tr
                td 1
                td 幼子
                td 庇護
                td 天神 月詩/ホーヅキ
            tr
                td 2
                td 同士
                td 誠意
                td 有賀 武蔵/葉隠 源之助
            tr
                td 3
                td 友人
                td 友情
                td 桔梗 紫乃/天神 陽愛
            tr
                td 4
                td 先達
                td 憧憬
                td 東雲　喜一/まさる
            tr
                td 5
                td ビジネス
                td 信用
                td 赤星 有里朱/葉隠 源之助
            tr
                td 6
                td 借り
                td 借りがある
                td シバイヌ司令/佐々 次郎
            tr
                td 7
                td 家族
                td 親愛
                td 天神 月詩/天神 陽愛
            tr
                td 8
                td 戦友
                td 信頼
                td 有賀 武蔵/赤星 有里朱
            tr
                td 9
                td 貸し
                td 貸しがある
                td 東雲 喜一/佐々 次郎
            tr
                td 10
                td ファン
                td 執着心
                td シバイヌ司令/まさる
            tr
                td 11
                td 任意
                td 任意
                td 任意
    p ※ 有賀　武蔵のコネクションの分野は「居住区域、レイヤード」とする。
