extends _layout
block var
  - metas = {}
  - metas.title = 'セッション報告書(第1回)'
  - page = 'top'
block append meta
  +meta(metas)
block append header
  +header(page)  
block main
    h1 
        span セッション報告書(第1回)
    .mt-3
        .d-flex.justify-content-between
          .report
            span.btn 第1回
            a.btn(href="./report_1906.html") 第2回
            a.btn(href="./report_1908.html") 第3回
            a.btn(href="./report_1910.html") 第4回
    h2.mt-3 Across the God
    dl.flex
        dt GM：
        dd ベルガー
    dl
        dt シナリオ概要：
        dd
            .info
                p アザトースを倒せる力を持つ「フラグメント」が隠されている旧地下街を探索するため、レイヤードたちが集められた。
                p 調査の結果、ベクターたちが占領する旧アクロスの中を抜けて旧地下鉄までのエリアを解放することとなった。
                p 途中、水鏡神社に封じられたアルケオンを回収するベクターと交戦しつつ進んでいると、アクロスを占領しているエンフォーサー：天草四郎と遭遇する。
                p 彼の計画により、水鏡神社に集まった神の力(アルケオン)を利用し、超巨大ベクター：イエス＝キリスト＝アナザーが起動した。
                p しかし、レイヤードたちの活躍で、イエス＝キリスト＝アナザー及び天草四郎は討伐され、テンジン・シェルターは北に領土を拡大した。
    dl
        dt 報酬：
        dd 　天神開発ポイント200天(シェルターの広さが倍になったことにより)
    h2.mt-5 天国に興味深い人間はいない
    dl.flex
        dt GM：
        dd ジョージ
    dl
        dt シナリオ概要：
        dd
            .info
                p １２月に落下してくるアザトースの脅威を葉隠 源之助に説明されたＰＣ達。
                p アザトースへの対抗策として、かつて開発途中で遺棄された対神決戦兵器を利用するため八幡へ向かう。
                p 八幡では開発の妨害のために根付いていた超巨大ベクター『スペースワールド・プトレマイオス』と戦闘となり勝利する。
                p その後、身長５０メートルの決戦兵器『大哲（鉄）人・ニーチェ』のフレームを地下にて発見、開発を開始する。
    dl
        dt 報酬：
        dd 　ニーチェのフレーム
    h2.mt-5 死に至る病
    dl.flex
        dt GM：
        dd シゲ
    dl
        dt シナリオ概要：
        dd
            .info
                p ナイアーラトテップからのアザトース強化儀式招待状が届き異空間に招待されるレイヤード達が見たもの。
                p それは中世ヨーロッパの貴族屋敷で発生した伯爵夫人の殺人事件だった…。
                p 記憶を失った少女と出会い、事件を捜査していくうちにレイヤード達はこの事件が母と娘の一人の男を巡る愛憎劇だったことを知る。
                p 真実を解明したレイヤードと少女の前に現れる死んだはずの伯爵夫人を倒しアザトース強化儀式の阻止に成功するのだった。
                p ※レイヤードの証言と食い違う場面がございます。
    dl
        dt 報酬：
        dd 　アザトースの強化阻止
    h2.mt-5 花曇りの頃、光を見ゆ
    dl.flex
        dt GM：
        dd かせい
    dl
        dt シナリオ概要：
        dd
            .info
               p 戦えない一般人がアザトースとの戦闘に巻き込まれることを懸念したシバイヌ司令と桔梗紫乃。
               p シェルター内で行方不明者が増えていく中、その候補地に目安をつけ、安全確保のための部隊を派遣した。
               p しかし、一向に帰還しないことを案じ、おそらくベクターの仕業だと判断したシバイヌ司令はレイヤード達を募る。
               p 探索とベクター討伐を依頼された偵察部隊のリーダーを任されていたレイヤードを救助し、超巨大ベクター「アントライオン」を倒すことに成功する。
               p しかし、再び行方不明者が出てしまうのであった。
    dl
        dt 報酬：
        dd 　アイテム「桔梗印の八女提灯」購入の権利
    h2.mt-5 ジャンク　ジャンク
    dl.flex
        dt GM：
        dd 茶話
    dl
        dt シナリオ概要：
        dd
            .info
               p ディストピアでまずしなけばならないのは、ジャンクあさりである。
               p お猿のまさる先生から、資材調達を依頼されたPCたちは天神地上部をうろつき回り、崩れかけたビルの倉庫で自動人形とどつきあい、雑貨屋でラジカセを拾ったりと探索を行った。
               p 帰途、野盗に遭遇、一部PC達の野盗参加表明が行われたが野盗の頭目は断固拒否、戦闘に突入する。
               p PCたちは野盗を蹴散らし野盗が乗っていた軌道修理車と積まれていた大量のラジカセを天神に持ち帰った。
    dl
        dt 報酬：
        dd 　天神開発ポイント50天(軌道修理車と大量のラジカセ基板回収による)
    h2.mt-5 博多湾襲来
    dl.flex
        dt GM：
        dd taiyaki
    dl
        dt シナリオ概要：
        dd
            .info
               p 博多湾近辺で怪し気な人影を見たという情報を入手した赤星はレイヤードたちに調査を依頼する。
               p 調査の結果、人影の正体はエンフォーサーとして再現されたモンゴル帝国の工作部隊であることが判明。帝国は、侵略の足がかりとなる前線基地構築の為に彼らを送り込んでいたのだった。
               p 上陸していた工作員達を撃退したレイヤードたちは呼子から流れ着いていた『クジラのジーラ』に乗り込み、沖に停泊していた工作部隊の本船に向けて奇襲攻撃を敢行。激しい戦闘の末、部隊を撃破することに成功する。
               p モンゴル帝国軍の侵略の阻止したと安心したのも束の間。
               p 帝国の司令官が散り際に発した「いあ！いあ！くとぅるふ、ふたぐん！」という叫びと共に、海底より現れた巨大な触手に巻き取られ、帝国の船は沈没。
               p 間一髪で脱出したレイヤードたちはクジラのジーラに乗り込み博多湾を後にするのであった。
    dl
        dt 報酬：
        dd 　モンゴル帝国軍の前線基地構築の阻止
    h2.mt-5 少女のお願い
    dl.flex
        dt GM：
        dd 黒猫
    dl
        dt シナリオ概要：
        dd
            .info
               p 謎の手足の生えた鯛の化け物が謎の少女、ホーヅキとその保護者の佐々を襲っていた。
               p 謎の生物を撃退すると、少女がレイヤード達にとあるオーブの回収をお願いしてくる。
               p 少女のお願いを叶えるべく、レイヤード達はオーブがあるというメイノハマ・ポート跡地に有る廃デパートへと向かう。
               p ダンジョンと化していた廃デパートの奥へ向かうと、そこには一体のベクターが起動していた。
               p レイヤード達は襲撃してきたベクターを撃破し、ホーヅキが探していた綺麗に輝くオーブを入手した。
               p 少女に感謝されながら、レイヤード達はホーヅキと佐々と別れるのであった。
    dl
        dt 報酬：
        dd 　天神開発ポイント10天＋オーブ入手＋アイテム「ホーヅキの手作り弁当」「ホーヅキの手作り勾玉」の購入権利
  
