extends _layout
block var
  - metas = {}
  - metas.title = 'セッション報告書(第3回)'
  - page = 'セッション報告書(第3回)'
block append meta
  +meta(metas)
block append header
  +header(page)  
block main
    h1 
        span セッション報告書(第3回)
    .mt-3
        .d-flex.justify-content-between
          .report
            a.btn(href="./report_1904.html") 第1回
            a.btn(href="./report_1906.html") 第2回
            span.btn 第3回
            a.btn(href="./report_1910.html") 第4回
    h2.mt-3 Яeverse
    dl.flex
        dt GM：
        dd ベルガー
    dl
        dt シナリオ概要：
        dd
            .info
                p 南エリア開拓のため調査をしていた天神陽愛率いる先遣隊が行方不明になった。
                p その捜索のため組まれたアサルトチームが南エリアへ向かうと、先遣隊の生き残りである芹沢水輝からベクターとエンフォーサーの襲撃に遭い、陽愛が連れ去られたことを知る。
                p 陽愛とベクターたちを追って南エリア南端に現れた大扉の先へ向かう一同。
                p そこは人々の残留思念を読み取ったアルケオンが作った異空間「裏天神」であった。
                p 陽愛の残したメッセージを頼りに探索を続ける中で、レイヤードたちは「かつてテンジン・シェルターは北エリアのショッピングモールを本拠地としていた」こと
                p 「ハワード・フィリップス・ラヴクラフトというリベレーターがテンジン・シェルターに保護された」こと、「10年前に現れた強力なベクターの襲撃によって避難を余儀なくされた」こと、
                p 「かつてのテンジン・シェルターのリーダー・天神星（あまがみ　しょう）が避難の時間稼ぎのためベクターと戦い、行方不明になった」こと、
                p そして「その事件の記憶が北エリアへ続く道が次元の断裂によって断たれた際にシェルターの住民全員の記憶から抜け落ちてしまった」ことを知る。
                p 裏天神を一周し、陽愛の残留思念から敵の目的を知ったレイヤードたちは最深部へと向かう。
                p そして、3つに分割された「ヨグ＝ソトース」のコードを1つに束ね、真の姿に戻るべく「銀の鍵」たる陽愛を取り込もうとするベクター：アフォーゴモンとエンフォーサー：タウィル・アト＝ウムルと対決。辛くもこれを撃破する。
                p 陽愛を救出した後、撃破されたベクターとエンフォーサーのコードは陽愛の持つ銀の鍵に集約され、ヨグ＝ソトースの力を取り戻し、裏天神を利用して次元の断裂している北エリアへの侵入が可能となった。
                p 次回、10月の定例会にて、10年前シェルターを襲撃したベクターの討伐作戦のため、北エリアへ突入予定。
    dl
        dt 報酬：
        dd 　天神開発ポイント100天(南エリア解放による)、天神陽愛の強化（北エリアへの突入が可能に）
    h2.mt-5 「人生は頂点に近付くほど困難を増やす」
    dl.flex
        dt GM：
        dd ジョージ
    dl
        dt シナリオ概要：
        dd
            .info
                p 決戦兵器ニーチェ建造に必要な最後の要素、ロジカルサーキット。
                p その開発に行き詰まっていた葉隠 源之助に協力の申し出がありＰＣ達と共に大宰府へと向かう。
                p 現地で協力者であるレイヤードの『三恵 アスカ』や街並み、住人達に違和感を持ったＰＣ達は独自に調査を開始する。
                p そして天満宮にいた『三恵 アスカの幽霊』から彼女自身は既に亡くなっており蘇生の際に狂い、コードも暴走している。
                p また、大宰府もベクターに襲われないように住人達を生きている死体にしていると言う真相を得る。
                p ＰＣ達は幽霊の願いをかなえ、狂ったレイヤードを倒し彼女の研究内容からロジカルサーキットを完成させた。
                p 全ての要素が揃い、ついに完成した大哲人ニーチェ。しかし……
                p 次回、大哲人暴走！？
                p 『深淵を覗く者は深淵に覗かれている』
    dl
        dt 報酬：
        dd 　ロジカルサーキット、天神開発ポイント50天
    h2.mt-5 たったひとつの冴えたやり方
    dl.flex
        dt GM：
        dd シゲ
    dl
        dt シナリオ概要：
        dd
            .info
                p ナイアーラトテップを倒すための手段を求め東雲喜一から情報を入手することができ、旧自衛隊「春日駐屯地跡」に向かうレイヤード達。
                p 地下施設に侵入したレイヤード達は、施設のセキュリティと敵を掻い潜ぐり最奥へと到達した。
                p そこで見たものは、ナイルラトホテプとのかつての戦いの記録と倒す手段であった…。
                p 次回、ナイアーラトテップ討伐戦。
    dl
        dt 報酬：
        dd 　ナイアーラトテップ討伐に関する情報
    h2.mt-5 涼風が運ぶは
    dl.flex
        dt GM：
        dd かせい
    dl
        dt シナリオ概要：
        dd
            .info
                p 拷問された一般人がシェルターの入り口に放置される事件が多発。かつて行方不明になり、帰っては来たものの廃人と化した人々。
                p 憤りを隠せないレイヤード達は捜索を行うが、その過程で少女が惨殺される。
                p 敵の正体は外なる世界からやってきたとされる神話生物「ミ＝ゴ」だった。
                p かつて神が降り立ったとされる宗像の祭場に建てられた研究所、そこでは人間の脳の電気信号を用いた発電と、残った体を燃料にした火力発電がおこなわれていた。
                p 冒涜的な行為を繰り返し、レイヤード達を歯牙にもかけない態度をとるミ＝ゴは自信を犠牲に超巨大ベクター「アルティメット＝ミ＝ゴ」を召喚。
                p 戦いを仕掛けてくるが、レイヤード達の圧倒的な火力に自爆覚悟の攻撃をもってしても倒すことは出来なかった。
                p しかし、最後の力を振り絞り儀式を敢行。強大な力を持った神を召喚するも、桔梗紫乃がその場を引き受け撤退に成功する。
                p レイヤード達に合流した紫乃は目立った怪我もない。しかし、蠱惑な笑みを浮かべ、優しい手つきで腹を撫でる仕草に事態を楽観視することは出来ない一行だった。
                p 次回、神が消えると言われる月に、異形の神との決戦の火ぶたが切って落とされる。
    dl
        dt 報酬：
        dd 　10月シナリオの敵の強化阻止
    h2.mt-5 博多湾襲撃
    dl.flex
        dt GM：
        dd taiyaki
    dl
        dt シナリオ概要：
        dd
            .info
                p 天神シェルターに入った謎の通信、それは4月にレイヤード達と共に戦い、その後レイヤードとなったクジラのジーラからのSOSだった。
                p ジーラは博多湾沖にモンゴル帝国軍が再び勢力を集結させていることを伝え協力を要請。
                p 前回以上の兵力に加え、海中に超大型ベクターが潜んでいることを突き止めたレイヤード達は、水中からベクターを引きずり出す秘策として梅が枝餅屋の店主である菅原道真と共に対馬オメガタワーを目指す。
                p 博多湾から対馬へと向かう途中の壱岐にて大侵攻前に破棄された船舶工場跡を発見したレイヤード達は残された設備を使い、クジラのジーラの近代化改装を実施。これによりクジラのジーラは『ホワイト・ジーラ・ユニコーン』として覚醒、頼もしい戦力となった。
                p 新たな仲間と共に対馬へとたどり着いたレイヤード達は対馬オメガタワーを起動させ、菅原道真の天候操作能力を増幅。海中に潜んでいた超大型ベクター”ダゴン”を地上に引きずりだすことに成功する。
                p ホワイトジーラUCとの連携を駆使し、”ダゴン”を撃破したレイヤード達。
                p しかし、それはさらなる超大型ベクター”クトゥルフ”の目覚めを意味しているのだった。
    dl
        dt 報酬：
        dd 　大型ベクター”ダゴン”の撃破、モンゴル帝国軍侵攻阻止
    h2.mt-5 少女のお願い3
    dl.flex
        dt GM：
        dd 黒猫
    dl
        dt シナリオ概要：
        dd
            .info
                p ホーヅキの正体、それはハスターのコードを持つ、巫女だった。
                p そして、集めていたオーブの正体はアザトースの力に対抗する従者の召喚に必要なアイテムだった。
                p しかし、それは人の破滅を楽しむダゴンによって紅のオーブを破壊された。
                p これ以上の破壊を見過ごせない、とホーヅキは自身の秘密を全て話し、その上でレイヤード達に
                p マイヅルバレーにある最後のオーブを取りに行きたいと、レイヤード達に頭を下げる。
                p マイヅルバレーの隠者の洞窟。
                p そこはホーヅキの地図によって一本道では行けたが、それを阻害する天然の罠。
                p 途中、事故が起こりかけるもギリギリの所をレイヤード達は進む。
                p そして、広い空間に鎮座されていた宝箱と、ダゴンがそこに居た。
                p ダゴンは自身の切り札の一部を使い、宝箱を飲み込み、そのまま逃げる。
                p 切り札のヒュドラは宝箱ごと黒のオーブを溶かそうとするが、レイヤード達の活躍によって
                p 宝箱は回収され、中身のオーブの無事も確認できた。
                p 最後の黒のオーブを集めたホーヅキはみんなにお礼を述べる。
                p オーブをすべて揃えたホーヅキは次回、従者の召喚を行う・・・
    dl
        dt 報酬：
        dd 　黒のオーブ、天神開発ポイント50天
