extends _layout
block var
  - metas = {}
  - metas.title = 'セッション報告書(第4回)'
  - page = 'セッション報告書(第4回)'
block append meta
  +meta(metas)
block append header
  +header(page)  
block main
    h1 
        span セッション報告書(第4回)
    .mt-3
        .d-flex.justify-content-between
          .report
            a.btn(href="./report_1904.html") 第1回
            a.btn(href="./report_1906.html") 第2回
            a.btn(href="./report_1908.html") 第3回
            span.btn 第4回
    h2.mt-3 Fragment
    dl.flex
        dt GM：
        dd ベルガー
    dl
        dt シナリオ概要：
        dd
            .info
                p 10年前に奪われたかつてのテンジン・シェルターの本拠地である北エリアを取り戻すため、攻略作戦が開始された。
                p 侵入早々大量のベクター「ティンダロス量産型」に囲まれるレイヤードたちだったが、密かにベクターに対抗する準備を練っていたリベレーターであるラヴクラフト博士によって難を逃れる。
                p ラヴクラフト博士のシークレットラボにて、クトゥルフ神話に連なるベクター・エンフォーサーに対抗しうるフラグメント「古き印（エルダーサイン）」を渡され、これを適合者である天神月詩が起動すればアザトースを倒すことができるということを告げられる。
                p しかし、そんな中、北エリアを占領したベクター、ダオロスがシークレットラボに侵入を果たし、月詩を連れ去ってしまう。
                p レイヤードたちとラヴクラフト博士は協力し、北エリアの本格攻略及び天神月詩の奪還作戦を開始する。
                p 順調に北エリアを攻略し、ダオロスから支配権を奪うことに成功するも、ダオロスの力に圧倒される。
                p そんな中、月詩が「古き印」を起動し、ダオロスの力を弱める。ダオロスは最終手段として10年前に囮になった際に体を乗っ取ったかつてのテンジン・シェルターの長、天神星（あまがみ　しょう）を召喚し、レイヤードたちに襲いかかる。
                p しかし、レイヤードたちの獅子奮迅の活躍により、ダオロスは討伐され、星はレイヤードたちに娘たちとテンジン・シェルターの未来を託し、ダオロスの支配から解き放たれ、消えていった。
                p これにより、北エリアを解放し、フラグメントの入手に成功。ラヴクラフト博士はテンジン・シェルターに身を置くこととなった。
    dl
        dt 報酬：
        dd 　天神開発ポイント100天(北エリア解放による)、フラグメント「古き印」入手
    
    h2.mt-5 「深淵を覗く者は深淵に覗かれている」 
    dl.flex
        dt GM：
        dd ジョージ
    dl
        dt シナリオ概要：
        dd
            .info
                p ついに完成した対神決戦兵器『大哲人ニーチェ』。ＰＣ達は葉隠 源之助と共に大哲人の視察のために八幡へ向かう。
                p 到着したスペースワールド跡の地下で起動した大哲人と会話中に超大型ベクターの襲撃を受ける。
                p 撃破後、更にあらわれた二大寓話連結式超弩級ベクター『ツインテイル』にあわやと思われたが、起動した大哲人の理論武装にてベクターは粉砕され事態は解決したかに思われた。
                p しかし夜半、突如として暴走を始める大哲人。原因はツインテイルを破壊したさいに浴びた銀の粒子であると突き止めたＰＣ達は暴走した大哲人を追跡、跳び移ると大哲人に付着していた粒子は集合し、『寄生型神話生物ベクター・シャン』の正体を現し、ＰＣ達を排除するため襲いかかる。
                p 激闘の末、元凶たるシャンを倒したＰＣ達に正気を取り戻したニーチェは朝日の中、感謝と人類を守り抜く誓いを立てるのであった
    dl
        dt 報酬：
        dd 　概念武装「神は死んだ」、天神開発ポイント30天

    h2.mt-5 ナイアーラトテップ、死す！
    dl.flex
        dt GM：
        dd シゲ
    dl
        dt シナリオ概要：
        dd
            .info
                p ナイアーラトテップの弱体化手段を手に入れたレイヤードたちに決戦への招待状が届いた。
                p 異空間へやってきたレイヤーたちを待っていたのは、忍者軍団の待つ絡繰屋敷だった。
                p 絡繰屋敷を潜り抜けナイアーラトテップへ辿り着き決戦となる。
                p 戦いの果て、ナイアーラトテップを討伐に成功したレイヤーの前に現れるのは…。
                p ナイアーラトテップだった…。
                p 一度、討伐されることにより弱体化手段を無効化するための罠だったのだ。
    dl
        dt 報酬：
        dd 　ナイアーラトテップ討伐による弱体化。

    h2.mt-5 紅葉の美しき様、まさに血が如く
    dl.flex
        dt GM：
        dd かせい
    dl
        dt シナリオ概要：
        dd
            .info
                p 宗像大社での激闘でレイヤード達を逃がす為に残った桔梗紫乃。あの日以来日に日に痩せていき、言動も今までとはまるで違い荒く攻撃的になっていった。
                p そして、ついに煽るような文章を残してシェルターを去ってしまう。
                p 紫乃の後を追うため、ショックで寝込んだシバイヌ司令の代わりに葵龍弥と共に宗像へと向かったレイヤードたち。
                p 地下迷宮を攻略し、迷路の神「アイホート」と対峙する。
                p アイホートは安倍晴明のコードを持つ紫乃を操り、アサルトチームを一時的に半壊させるも、レイヤード側はチーム全体で攻撃しつつ持ちこたえるという作戦を実行。
                p 結果アイホートの撃破に成功し、紫乃の救出にも成功。無事行方不明事件も解決に至った。
                p アイホートの残滓が逃げ延びたという一抹の不安を残しながら…。
    dl
        dt 報酬：
        dd 　最終決戦の弱体化

    h2.mt-5 博多湾崩壊
    dl.flex
        dt GM：
        dd taiyaki
    dl
        dt シナリオ概要：
        dd
            .info
                p ついに姿を現した“クトゥルフ”。
                p 超大型を超えるその規模から超弩級と位置づけられたその機体は数多のモンゴル軍を率い、真っすぐテンジン・シェルターへと向かってきていた。
                p 対するは人類の希望の4人のレイヤード達――すなわち、女侍、オバさん、蝦蛄（シャコ）、そして鮫である。
                p 迫りくる脅威に立ち向かった彼らの作戦はこうだ。
                p 一の陣 障壁の作成　博多湾から上陸してきたクトゥルフ軍の勢いを削ぐべく地上に転がる西鉄バスを使い障壁を築く。
                p 二の陣 挑発　敵の象徴であるクトゥルフの姿に似た呼子のイカを大量に取り寄せ、磔、寸刻みなどあらゆる手を使って辱めた姿を敵の前にさらす。
                p 三の陣 鮫嵐　挑発に焦り、障壁を乗り越えてきた敵たちの先に鮫嵐を用意しモンゴル軍を一網打尽にする。
                p これらの作戦によりモンゴル軍を大幅に疲弊させたレイヤード達はついにクトゥルフとの最終決戦を向かえる。
                p 激闘の果てに勝利をつかみ取ったのは――レイヤード、すなわち人類であった。
                p 雲の切れ間から光が差し込んできた戦場跡には磔にされたイカたちが焼ける香ばしい匂いに満ちていたという。
    dl
        dt 報酬：
        dd 　超弩級ベクター”クトゥルフ”の撃破、テンジン・シェルターへの被害阻止
    
    h2.mt-5 花、散りゆくならば
    dl.flex
        dt GM：
        dd 黒猫
    dl
        dt シナリオ概要：
        dd
            .info
                p ホーヅキの依頼によって全て集まった３種のオーブ。
                p 紅のオーブは欠片の為、ホーズキに負担を掛けるのは必至だったが、ホーヅキは強い意志でこれを決行。
                p 久留米市の高良大社にて従者イタクァ召喚の儀式を行う事となった。
                p ２日に及ぶ召喚の儀式は、想定通り、エンフォーサー・ダゴンが率いる軍団の妨害が発生した。
                p １日目にダゴンの影の襲撃、２日目にダゴン本体の襲撃があったが、レイヤード達の奮戦によって無事、ダゴンを撃破し、被害も軽微に終わった。
                p （なお、久留米市市街はメカゴジラの熱戦砲により半壊。）
    dl
        dt 報酬：
        dd 　天神開発ポイント30天、アザトース弱体化

    h2.mt-5 爆走華列車
    dl.flex
        dt GM：
        dd 茶話
    dl
        dt シナリオ概要：
        dd
            .info
                p 九州北部の線路上を走り回る装甲華列車呑佗駆。
                p 功績を立て参謀となる野望を持ったまさるはこの呑佗駆を撃破する作戦を打ち立てた。
                p レイヤードを集めた部屋に何故か有賀団長がいるというトラブルもあったが作戦"強敵を三度の奇襲に分けて倒そう"が発動された。
                p 最初は走行中の呑佗駆を防音壁の隙間から一方的に攻撃を加えた。
                p 二度目は雑餉隈周辺で西鉄の線路からJRの線路へ移動する動きの鈍い呑佗駆と戦闘した。
                p 最後に走行する呑佗駆と並走し呑佗駆を打ち倒した。
                p しかし有賀団長がいてしまったらまさるの功績にならない上相談無しにレイヤードを動かしたことを"反省"させられた。
    dl
        dt 報酬：
        dd 　天神開発ポイント40天
