extends _layout
block var
  - metas = {}
  - metas.title = 'セッション報告書(第2回)'
  - page = 'top'
block append meta
  +meta(metas)
block append header
  +header(page)  
block main
    h1 
        span セッション報告書(第2回)
    .mt-3
        .d-flex.justify-content-between
          .report
            a.btn(href="./report_1904.html") 第1回
            span.btn 第2回
            a.btn(href="./report_1908.html") 第3回
            a.btn(href="./report_1910.html") 第4回
    h2.mt-3 トレイン　トレイン
    dl.flex
        dt GM：
        dd 茶話
    dl
        dt シナリオ概要：
        dd
            .info
                p ディストピアに置いて、重視しなければいけない事。それは生存圏の拡大である。
                p お猿のまさる先生主導の地下鉄延線工事が始まった。
                p 頭初、天神から博多駅地下迄の計画だと言っていたまさる先生だったがPC達の知識判定による、｢博多駅前に棲息する軍艦やまかサウルスはどうするのだ。｣と言う質問に｢地下から侵入して足元に出れば主砲を撃たれずに倒す事ができる。｣と工事と関係ない事をのたまった。
                p まさる先生に付き合ってあげる事にしたPCたちは結局行わなければならない瓦礫の撤去と線路修理をやりながら、敵の尖兵である大量のノボセモンを蹴散らしながら博多駅にむかった。
                p 駅前に到着したPC達のフラストレーションは爆裂しサウルスはあっという間に倒され、まさる先生はどや顔った。
    dl
        dt 報酬：
        dd 　天神開発ポイント100天(やまかサウルスに使われた大量の特殊鋼による。)
    h2.mt-5 「孤独なる者よ、君は創造者の道を行く」
    dl.flex
        dt GM：
        dd ジョージ
    dl
        dt シナリオ概要：
        dd
            .info
                p 偵察により田川にて高エネルギー反応が観測された為、回収に向かうＰＣ達。
                p そこには秘密裏に作られた施設があり、ベクター達に襲撃を受けている最中であった。
                p 施設内部を探索する達は此処が新たな高エネルギーの開発をしていた場所であること、開発者は亡くなっており、残された赤子を『ロボット』のゴンスケが育てていることを突き止める。
                p 最深部にてエネルギーコアを奪いに来たエンフォーサー『ダンテ』を倒したＰＣ達は赤子を護る際に破壊されてしまったゴンスケからエネルギーコアと赤子を託される。
    dl
        dt 報酬：
        dd 　ニーチェのエネルギーコアと天神開発ポイント30天
    h2.mt-5 新天町の悪夢
    dl.flex
        dt GM：
        dd シゲ
    dl
        dt シナリオ概要：
        dd
            .info
                p 突如として新天町跡地に出現した街…。ムサシクレイドルからの増援と共に調査に向かった先に居たのはナイルラトホテプだった。
                p この街がアザトース強化儀式のための街だと知らされたレイヤード達は阻止のために調査を開始する。
                p しかしこの街は、悪辣なトラップが大量に設置されたトラップシティだったのだ…。街の最深部にたどり着きそこで待っていたのは増援として来たレイヤードの裏切りだった。
                p ナイルラトホテプの化身だった彼を倒し儀式を阻止したレイヤード達の前に再び現れるナイルラトホテプが告げる衝撃の真実。
                p 前回と今回の事件はただのお遊びだったのだ…。
    dl
        dt 報酬：
        dd 　アザトースの強化阻止
    h2.mt-5 青梅雨、地に滴る
    dl.flex
        dt GM：
        dd かせい
    dl
        dt シナリオ概要：
        dd
            .info
                p 行方不明者が増えていく中、桔梗紫乃は天神南のビル群を避難場所として確保しようと計画する。
                p 付近にはベクターを束ねるブレインがいると知った桔梗は、安全確保とビル内の空調設備の搬入の為にレイヤード達に依頼を出す。
                p 同じころ、人間には理解できない言葉を突然発し、暴れる一般人やレイヤードが増えはじめ、彼等は総じて自らシェルターを去るという事件が起こり始めた。
                p 途中、行方不明事件に関して桔梗へ疑いの目が向き、疑問を抱きながらレイヤード達は天神南を目指す。
                p シェルター内の人間と精神交換し、外へ連れ出していたベクター「イスの大いなる種族」と対峙したレイヤード達。
                p 戦闘に勝利し、シェルターには平和が訪れ、天神南の安全も確保される。
                p しかし、行方不明の人間がどこに行ったのかは謎に包まれたままだ。
    dl
        dt 報酬：
        dd 　天神開発ポイント30天、シェルター内の空調設備が整う
    h2.mt-5 Hungry Hungry Hungry
    dl.flex
        dt GM：
        dd SELAY
    dl
        dt シナリオ概要：
        dd
            .info
                p 次なる拡張作戦の要となる拠点を得るため、発見されたかつての百貨店跡を天神陽愛と共に攻略することになった。
                p 地下街連絡通路から「ダイマル地下遺跡」の中へ入り探索を進めるレイヤード達。
                p 途中、地下にもかかわらず砲撃戦が繰り広げられたが、東館の最奥で天井に届き得るサイズのヒキガエルのような形をした巨大な機械の像が鎮座していた。
                p 「ツァトゥグァ」と名乗るそのベクターは、アルケオンを求めレイヤード達に襲いかかってきたが、先手必勝で組まれたレイヤード達のパーティーの火力を受け即座に倒される。
                p そうしてレイヤードたちの探索中に多少崩壊度が増したとはいえ、拠点を手に入れることができたのであった。
    dl
        dt 報酬：
        dd 　天神開発ポイント10天
    h2.mt-5 少女のお願い２
    dl.flex
        dt GM：
        dd 黒猫
    dl
        dt シナリオ概要：
        dd
            .info
                p 謎の少女、ホーヅキの新たなオーブを探してほしいというお願いを叶えるべく、タヌシマル・フォレストにある千光寺へと向かう。
                p そこには何故か謎の手足の生えた鯖と鯛の化け物が徘徊していた。
                p ベクターの襲撃を受けたレイヤード達は、苦戦することなく、ベクターを撃破し紅のオーブを回収する。
                p しかし、それは罠であり、その場に現れた「ダゴン」と名乗る謎の青年によって、加護の無くなった紅のオーブは無残にも破壊されてしまった。
                p ホーヅキは呆然とし、高笑いとともにダゴンは消えていくのであった。
    dl
        dt 報酬：
        dd 　天神開発ポイント10天＋オーブ入手＋アイテム「ホーヅキの手作り弁当」「ホーヅキの手作り勾玉」の購入権利
