extends _layout
block var
  - metas = {}
  - metas.title = '地下街開発'
  - page = 'undertown'
block append meta
  +meta(metas)
block append header
  +header(page)  
block main
    h1.mb-4 地下街開発ルール
    p.text-danger ※地下街開発ルールは虎猫の穴独自のものです。
    ul
        li 本キャンペーンでは地下街を開発し、PCに有利な効果を得ることが出来ます。
        li 開発には「天神開発ポイント」を使用します。
        li 天神開発ポイントは、セッションの報酬によって増減します。単位は「天」
        li それぞれの施設に設定された天数を消費することで施設を建設でき、さらに決められた天数を消費することで施設をレベルアップすることができます。
        li 施設の開発や拡張は、イベント定例会後にアンケートを実施し決定します。(最終決定権は虎猫が持ちます)
    
    h3 拡張できる施設と効果、消費天数
    .card-rule
        .card-rule__box
            h4 温泉
            ul.npc-items
                li <span class="dt">消費天数</span>30天/LV
                li <span class="dt">LV上限</span>5LV
            dl
                dt 効果
                dd PCのHPが[Lv×5]点上昇する
        .card-rule__box
            h4 カフェ
            ul.npc-items
                li <span class="dt">消費天数</span>30天/LV
                li <span class="dt">LV上限</span>5LV
            dl
                dt 効果
                dd PCのMPが[Lv×3]点上昇する
        .card-rule__box
            h4 武器屋
            ul.npc-items
                li <span class="dt">消費天数</span>30天/LV
                li <span class="dt">LV上限</span>5LV
            dl
                dt 効果
                dd PCの白兵及び射撃攻撃のダメージが[Lv×2]点上昇する
        .card-rule__box
            h4 クラフト研究所
            ul.npc-items
                li <span class="dt">消費天数</span>40天/LV
                li <span class="dt">LV上限</span>5LV
            dl
                dt 効果
                dd PCのクラフト攻撃のダメージが[Lv×3]点上昇する
        .card-rule__box
            h4 ブティック
            ul.npc-items
                li <span class="dt">消費天数</span>70天/LV
                li <span class="dt">LV上限</span>3LV
            dl
                dt 効果
                dd PCの<物>属性の防御修正が[Lv+1]点上昇する
        .card-rule__box
            h4 アクセサリショップ
            ul.npc-items
                li <span class="dt">消費天数</span>70天/LV
                li <span class="dt">LV上限</span>3LV
            dl
                dt 効果
                dd PCの<物>と<絶>属性以外の防御修正が[Lv+1]点上昇する
        .card-rule__box
            h4 エステサロン
            ul.npc-items
                li <span class="dt">消費天数</span>100天/LV
                li <span class="dt">LV上限</span>1LV
            dl
                dt 効果
                dd PCの特技の代償で支払うMPを1点軽減する（最低値1）
        .card-rule__box
            h4 占いの館
            ul.npc-items
                li <span class="dt">消費天数</span>0→1：20天、以降：40天
                li <span class="dt">LV上限</span>3LV
            dl
                dt 効果
                dd ミドルフェイズに行った判定を振りなおすことができる。各アサルトチーム毎にシナリオ中[Lv]回。1度の判定には1回までしか使用できない。
        .card-rule__box
            h4 書店
            ul.npc-items
                li <span class="dt">消費天数</span>0→1：20天、以降：40天
                li <span class="dt">LV上限</span>3LV
            dl
                dt 効果
                dd ミドルフェイズに判定を行う前に、その判定にダイスボーナスを+1することができる。各アサルトチーム毎にシナリオ中[Lv]回。1度の判定には1回までしか使用できない。
        .card-rule__box
            h4 通りもん屋
            ul.npc-items
                li <span class="dt">消費天数</span>0→1：20天、以降：30天
                li <span class="dt">LV上限</span>3LV
            dl
                dt 効果
                dd シナリオ開始時にすべてのPCは《メディジェクト》相当の通りもんを1つ入手する。このアイテムは他人に渡すことはできず、シナリオ終了時に消滅する。施設レベルが3になると、効果が《ハイメディジェクト》相当になる。
        .card-rule__box
            h4 梅ヶ枝餅屋
            ul.npc-items
                li <span class="dt">消費天数</span>0→1：20天、以降：30天
                li <span class="dt">LV上限</span>3LV
            dl
                dt 効果
                dd シナリオ開始時にすべてのPCは《マインドリーバー》相当の梅ヶ枝餅を1つ入手する。このアイテムは他人に渡すことはできず、シナリオ終了時に消滅する。施設レベルが3になると、効果が《ハイマインドリーバー》相当になる。
        .card-rule__box
            h4 ドラッグストア
            ul.npc-items
                li <span class="dt">消費天数</span>50天
                li <span class="dt">LV上限</span>1LV
            dl
                dt 効果
                dd いつでも使用できる。PC1人の戦闘不能を回復し、HPを1にする。各アサルトチーム毎にシナリオ中1回使用可能
        .card-rule__box
            h4 天満宮
            ul.npc-items
                li <span class="dt">消費天数</span>40天
                li <span class="dt">LV上限</span>5LV
            dl
                dt 効果
                dd いつでも使用できる。アサルトチーム全員のMPを[Lv×4]点回復する。各アサルトチーム毎にシナリオ中1回使用可能
    h2 第5回テンジン・シェルター開発内容
    ul 
        li 天神開発ポイント総計：1040天
            ul
                li 温泉5Lv・・・PC全員のHP+25 
                li カフェ5Lv・・・PC全員のMP＋15
                li エステサロン1Lv・・・PCの特技の代償で支払うMPを-1
                li 天満宮5Lv・・・アサルトチーム全員のMPを20点回復。シナリオ1回使用可能
                li 梅ヶ枝餅屋3Lv・・・シナリオ開始時にすべてのPCは《ハイマインドリーバー》相当の梅ヶ枝餅を1つ入手する。このアイテムは他人に渡すことはできず、シナリオ終了時に消滅する。
                li ドラッグストア1Lv・・・PC1人の戦闘不能を回復し、HPを1にする。シナリオ1回使用可能
                li 通りもん3LV・・・シナリオ開始時にすべてのPCは《ハイメディジェクト》相当の通りもんを1つ入手する。このアイテムは他人に渡すことはできず、シナリオ終了時に消滅する。
                li 武器屋5LV・・・PCの白兵及び射撃攻撃のダメージが10点上昇する
                li 占いの館1LV・・・ミドルフェイズに行った判定を振りなおすことができる。各アサルトチーム毎にシナリオ中1回。1度の判定には1回までしか使用できない。
                li アクセサリショップ1LV・・・PCの<物>と<絶>属性以外の防御修正が2点上昇する

        li 残り天神開発ポイント・・・0天