extends _layout
block var
  - metas = {}
  - metas.title = '世界'
  - page = 'world'
block append meta
  +meta(metas)
block append header
  +header(page)  
block main
    h1 世界設定
    p ※ コード：レイヤードの基本的な世界観は公式HP及び基本ルールブックをご参照ください。
    h2.mt-3 舞台説明
    .info
      p 今回のキャンペーンの舞台となるのは2119年の旧福岡県。
      p バベルによる”大侵攻”の結果、文明が崩壊し都市の機能は停止している。
      p その中で生き残った人々はベクター・エンフォーサーの襲撃から逃げのびるため、大型のベクターの入れない地下へと逃げ込んだ。
      p 100年前に存在した地下施設である「テンジン地下街」を人間が住めるように改造した「テンジン・シェルター」として、ひとつのコロニーを形成している。
      p 時折、自警団が探索に出かけた際に周辺で生き延びている避難民を保護し、シェルターに連れて帰ってくることがある。
      p それ以外の状況に関しては、探索活動の差異に何度かベクターやエンフォーサーと邂逅していることからエンフォーサーの支配領域が周辺にあることが考えられるが、詳しいことは不明。
      p また、アザトースが起動した影響か、ベクターの動きがいくらか活発になっているとの報告が上がってきている。

    h2 テンジン・シェルター
    .info
      p 旧福岡エリアの中心に位置する避難民たちの形成した非公式シェルター。
      p 非公式ではあるがある程度公的なもののため、ムサシ・クレイドルからの出向者がいたりと、いくらかの交流は行われている模様。
      p かつて存在していた天神地下街の現存する部分（2019年現在の地下街の4分の1程度）を利用し、人々が住めるように最低限の環境を整えている。
      p 人口は200人に満たない程度。
      p 近年では、このシェルターで生まれ育った子供たち、通称「シェルター・チルドレン」が台頭し、シェルターの防衛・周囲の探索・生活環境の改善などに当たってくれるようになっている。
      p “大侵攻”終結直後20年ほど前に建てられたシェルターであり、危ういバランスのまま周辺の探索をしつつ、避難民を受け入れながらなんとか存続を続けることができたが、現在、避難民の増加に対し、地下街自体の手狭さ、物資不足と、内部の大きな問題が浮き彫りになっている。
      p 2119年3月3日に自警団メンバーがベクターの製造工場よりACリアクターを持ち帰ったことにより、エネルギーに関しては問題が解消されつつある。

    h2 ”黒き太陽”アザトース
    .row
      .col-sm-8
        .info
          p 2118年11月ごろから地球で観測されるようになった黒い星。
          p オレンジ色のラインが入った機械的な黒い球体。
          p 非情に不安定な軌道を描きながらも、ゆっくり地球の方へと向かっていると観測され、世界各所で危険視する声がちらほら出始めてはいるが、軌道が全く読めないため手を出せずにいた。
          p その正体はバベルが地球を滅ぼすために用意していた戦略級ベクター。
          p 周囲のアルケオンを吸収、支配し、それを使用した自己改造や進化を行うといった特性を持つ。
          p また、他にも隠された機能が多数存在しているようだが詳細は現時点では未知数。
          p 2119年3月にテンジン・シェルターの地下のシークレットラボに存在していた起動装置をエンフォーサー・ナイアーラトテップに起動されたことにより、テンジン・シェルターに向けて落下を始める。
          p テンジン・シェルターへの落下予定日は2119年12月8日とされている。
          p しかし、何者かのアザトースを制御するフラグメントを旧天神地下街のどこかに隠したというメッセージを自警団が受け取っており、最後の希望となっている。
      .col-sm-4.text-center
        a(href="/2019/img/azatose.jpg")
            img(style="width: 100%" src="/2019/img/s_azatose.jpg")